<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slot</title>
    <style type="text/css">
        .panel {
            width: 400px;
            border: 1px solid #ccc;
        }

        .panel > * {
            padding: 15px;
            border-bottom: 1px solid #ccc;
        }

        .footer {
            border: none;
        }
    </style>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
<div id="app">
    <Child>
        <span>hello world</span>
    </Child>
</div>

<template id="child">
    <div>
        <div class="panel">
            <div class="title">这是标题</div>
            <div class="content">
                这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            </div>
            <div class="footer">这是页脚</div>
        </div>
    </div>
</template>
</body>
<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {},
        components: {
            Child: {
                template: "#child"
            }
        }
    })
</script>
</html>
