.list .list_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.center {
    display: flex;
    align-content: center;
}

/*行列居中, 头像与姓名 */
.avatar {
    display: flex;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box{
    border: #999999 1px solid;
    background-color: #999999;
    box-shadow: #5c636a;
    border-radius: 1rem;
}

.row_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.row_right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container_center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}