* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #FFFFFF;
    color: #050505;
    height: 100%;
}

body {
    height: 100%;
    /*超出body范围部分隐藏*/
    /*overflow: hidden;*/
    overflow: auto
}

img, video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a{
    outline: none;
    background: none;
    text-decoration: none;
    color: black;
}

/*工具*/
.p_c_test_border {
    border: red solid 1px;
}
