
.p_c_flexbox_row {
    display: flex;
    width: 100%;
}

/*水平方向*/
.p_c_box-flex_row-center {
    display: flex;
    justify-content: center;
}

.p_c_box-flex_row-col-center {
    display: flex;
    align-items: center;
}

.p_c_box-flex {
    display: flex;
}

.p_c_flexbox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.p_c_box-flex_col {
    display: flex;
    flex-direction: column;
}

.p_c_box-flex_col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_c_box-flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_c_HolyGrail-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.p_c_HolyGrail-content {
    flex: 1;
}

.p_c_flex_1 {
    flex: 1 1 auto;
}

.p_c_flex_0 {
    flex: 0 0 auto;
}

.p_c_HolyGrail-nav, .p_c_HolyGrail-ads {
    /* 两个边栏的宽度设为12em */
    flex: 0 0 20rem;
}

.HolyGrail-nav {
    /* 导航放到最左边 */
    order: -1;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .col-m-12 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
