package ${packageName}.controller;


import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.config.ApiResult;
import ${packageName}.controller.para.DelPara;
import ${packageName}.controller.para.DelParaList;
import ${packageName}.entity.${tableUpperCamel}Entity;
import ${packageName}.service.${tableUpperCamel}Service;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.List;


@Tag(name = "${tableComment}")
@RestController
@RequestMapping("/api/${tableLowerCamel}")
@Slf4j
public class ${tableUpperCamel}Controller {
    @Resource
    private ${tableUpperCamel}Service ${tableLowerCamel}Service;

    @Operation(summary = "新增")
    @PostMapping("/create")
    public ApiResult<Boolean> create(@RequestBody ${tableUpperCamel}Entity ${tableLowerCamel}Entity) {
        return ApiResult.success(${tableLowerCamel}Service.save(${tableLowerCamel}Entity));
    }

    @Operation(summary = "分页查询")
    @GetMapping("/getPage")
    public ApiResult<Page<${tableUpperCamel}Entity>> getPage(Page<${tableUpperCamel}Entity> page, ${tableUpperCamel}Entity ${tableLowerCamel}Entity) {
        return ApiResult.success(${tableLowerCamel}Service.page(page, new QueryWrapper<>(${tableLowerCamel}Entity)));
    }

    @Operation(summary = "根据id修改")
    @PostMapping("/updateById")
    public ApiResult<Boolean> updateById(@RequestBody ${tableUpperCamel}Entity ${tableLowerCamel}Entity) {
        return ApiResult.success(${tableLowerCamel}Service.updateById(${tableLowerCamel}Entity));
    }

    @Operation(summary = "根据id删除")
    @PostMapping("/deleteById")
    public ApiResult<Boolean> deleteById(@RequestBody DelPara para) {
        return ApiResult.success(${tableLowerCamel}Service.removeById(para.getId()));
    }

    @Operation(summary = "根据id批量删除")
    @PostMapping("/deleteByIds")
    public ApiResult<Boolean> deleteByIds(@RequestBody DelPara para) {
        return ApiResult.success(${tableLowerCamel}Service.removeByIds(para.getIds()));
    }
}