package ${packageName}.controller;


import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.config.ApiResult;
import ${packageName}.entity.${tableUpperCamel}Entity;
import ${packageName}.util.BuildDataUtil;
import org.junit.FixMethodOrder;
import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.Test;
import org.junit.runners.MethodSorters;
import org.springframework.boot.test.context.SpringBootTest;

import javax.annotation.Resource;
import java.util.Arrays;
import java.util.Collections;


@FixMethodOrder(MethodSorters.NAME_ASCENDING)
@SpringBootTest
public class ${tableUpperCamel}ControllerTest {
        ${tableUpperCamel}Entity ${tableLowerCamel}Entity = BuildDataUtil.createData(${tableUpperCamel}Entity.class);
    Page<${tableUpperCamel}Entity> page = new Page<>(1, 10);
    @Resource
    private ${tableUpperCamel}Controller ${tableLowerCamel}Controller;

    @Test
    public void test_0_create() {
        ApiResult res = ${tableLowerCamel}Controller.create(${tableLowerCamel}Entity);
        Assertions.assertEquals(1, res.getCode());
    }

    @Test
    public void test_1_getPage() {
        ApiResult res = ${tableLowerCamel}Controller.getPage(page, ${tableLowerCamel}Entity);
        Assertions.assertEquals(1, res.getCode());
    }


    @Test
    public void test_2_updateById() {
        ApiResult res = ${tableLowerCamel}Controller.updateById(${tableLowerCamel}Entity);
        Assertions.assertEquals(1, res.getCode());
    }

    @Test
    public void test_3_deleteById() {
        Integer id = 1;
        ApiResult res = ${tableLowerCamel}Controller.deleteById(id);
        Assertions.assertEquals(1, res.getCode());
    }

    @Test
    public void test_4_deleteByIds() {
        Integer[] idList = {1};
        ApiResult res = ${tableLowerCamel}Controller.deleteByIds(Collections.singletonList(idList));
        Assertions.assertEquals(1, res.getCode());
    }

}