<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- 定义日志目录 -->
    <property name="LogDir" value="${LOG_DIR:-data/log/api}"/>

    <!-- 控制台输出：输出所有级别日志 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>
                %red(%d{MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%yellow(%15.15t)] %cyan(%logger{20}).%M\(%F:%L\): %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Debug 日志：记录全量日志 -->
    <appender name="DebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LogDir}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LogDir}/debug.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20}.%M\(%F:%L\): %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Info 日志：记录 INFO 及以上级别日志 -->
    <appender name="InfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LogDir}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LogDir}/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20}.%M\(%F:%L\): %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level> <!-- 记录 INFO 及以上级别日志 -->
        </filter>
    </appender>

    <!-- Error 日志：仅记录 ERROR 级别日志 -->
    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LogDir}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LogDir}/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20}.%M\(%F:%L\): %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 设置日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="Console"/> <!-- 控制台输出所有级别日志 -->
        <appender-ref ref="DebugLog"/> <!-- 文件输出全量日志 -->
        <appender-ref ref="InfoLog"/> <!-- 文件输出 INFO 及以上级别日志 -->
        <appender-ref ref="ErrorLog"/> <!-- 文件输出 ERROR 级别日志 -->
    </root>
</configuration>