/*水平*/
.w-horizontal-up {
    justify-content: flex-start;
}

.w-horizontal-center {
    justify-content: center;
}

.w-horizontal-down {
    justify-content: flex-end;

}

/*垂直方向*/
.w-vertical-left {
    align-items: flex-start;
}

.w-vertical-center {
    align-items: center;
}

.w-vertical-right {
    align-items: flex-end;

}