.p_c_test_border {
    border: red solid 1px;
}
.p_c_box_grow {
    flex-grow: 1;
}

.p_c_word-break {
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}

.p_c_line-height {
    line-height: 1.5;
}
.p_c_box_margin {
    margin: 1rem;
}
.p_c_color_blue {
    background-color: blue;
}
.p_c_color_blue2 {
    background-color: #cacaef;
}
.p_c_border_black {
    border: black 1px solid;
}
.p_c_box-shadow {
    border-radius: 1rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.p_c_flexbox_row {
    display: flex;
    width: 100%;
}

.p_c_box-flex {
    display: flex;
}

.p_c_flexbox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.p_c_box-flex_row-center {
    display: flex;
    justify-content: center;
}


.p_c_box-flex_col-center {
    display: flex;
    align-items: center;
}

.p_c_box-flex_col {
    display: flex;
    flex-direction: column;
}

.p_c_box-flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_c_box_padding {
    padding: 0.8rem;
}

.p_c_box_margin {
    margin: 0.8rem;
}

.p_c_long_txt_hidden {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
}

a, a:hover, a:active, a:visited, a:link, a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    font-family: "Lucida Sans", sans-serif;
    background-color: #FFFFFF;
    color: #050505;
    height: 100%;
}

body {
    font-size: 1.6rem;
    height: 100%;
    /*超出body范围部分隐藏*/
    /*overflow: hidden;*/
    overflow: auto
}

img, video {
    max-width: 100%;
    height: auto;
}


[class*="col-"] {
    /*float: left;*/
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    .col-sm-6 {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-12 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/*宽高 remember min 百分比*/
/*边距 宽  上下左右*/
/*媒体查询  响应式*/
/*文本 换行 行高 长文本*/
/*链接*/
/*神奇数字  2 8 0.618*/


