<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  property 配置通用属性，方便后面的配置通过${name}形式引用  -->
    <!--  %-10level级别案例为设置10个字符，左对齐
          %d{yyyy-MM-dd HH:mm:ss.sss}日期
          %c当前类全限定名
          %M当前执行日志的方法
          %L行号
          %thread线程名称
          %线程线程名称
          %m或者%msg信息
          %n换行  -->
    <!--  配置日志输出格式  -->
    <!--  以property形式将日志输出格式配置为文件通用的属性，后面配置输出方式可以重复复引用该通用属性 -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}: %msg%n"/>
    <!--  配置控制台 appender  -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出目标的配置
             默认：System.out 表示黑色字体输出日志
             设置：System.err 表示红色字体输出日志
          -->
        <target>
            System.err
        </target>
        <!--  配置日志输出格式  -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

            <!--  引用 输出格式的 通用配置属性  -->
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <!--  配置日志记录器  -->
    <root level="All">
        <!--  引入appender  -->
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>