package ${packageName}.controller;


import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.config.ApiResult;
import ${packageName}.controller.para.DelPara;
import ${packageName}.controller.para.DelParaList;
import ${packageName}.entity.${tableUpperCamel}Entity;
import ${packageName}.service.${tableUpperCamel}Service;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.List;


@Api(tags = "${tableComment}")
@RestController
@RequestMapping("/api/${tableLowerCamel}")
@Slf4j
public class ${tableUpperCamel}Controller {
    @Resource
    private ${tableUpperCamel}Service ${tableLowerCamel}Service;

    @ApiOperation(value = "新增")
    @PostMapping("/create")
    public ApiResult create(@RequestBody ${tableUpperCamel}Entity ${tableLowerCamel}Entity) {
        return ApiResult.success(${tableLowerCamel}Service.save(${tableLowerCamel}Entity));
    }

    @ApiOperation(value = "分页查询")
    @GetMapping("/getPage")
    public ApiResult<${tableUpperCamel}Entity> getPage(Page page, ${tableUpperCamel}Entity ${tableLowerCamel}Entity) {
        return ApiResult.success(${tableLowerCamel}Service.page(page, new QueryWrapper<>(${tableLowerCamel}Entity)));
    }

    @ApiOperation(value = "根据id修改")
    @PostMapping("/updateById")
    public ApiResult updateById(@RequestBody ${tableUpperCamel}Entity ${tableLowerCamel}Entity) {
        return ApiResult.success(${tableLowerCamel}Service.updateById(${tableLowerCamel}Entity));
    }

    @ApiOperation(value = "根据id删除")
    @PostMapping("/deleteById")
    public ApiResult deleteById(@RequestBody DelPara para) {
        return ApiResult.success(${tableLowerCamel}Service.removeById(para.getId()));
    }

    @ApiOperation(value = "根据id批量删除")
    @PostMapping("/deleteByIds")
    public ApiResult deleteByIds(@RequestBody DelParaList para) {
        return ApiResult.success(${tableLowerCamel}Service.removeByIds(para.getIds()));
    }
}