package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.entity.${tableUpperCamel}Entity;
import org.apache.ibatis.annotations.Mapper;

/**
 * (${tableLowerCamel})表数据库访问层
 */
@Mapper
public interface ${tableUpperCamel}Mapper extends BaseMapper<${tableUpperCamel}Entity> {

}